.env
.DS_Store
images/*
temp
__pycache__
entire_workflow/models/*
temp_images
temp_bb_images
temp_gif_images
results.txt
logfile.txt
sample-log.txt
data/images/*
data/custom/train2017/*
data/custom/val2017/*